# Object files
*.o
# Build dirs
./bin
./build
./package

# debian pkg temp files

debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper
debian/*.log

debian/tmp
debian/evilcap
debian/source
